body {
  background-color: #6883bb;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

button {
  padding: 0 20px;
  border: none;
  border-radius: 6px;
  line-height: 40px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: #e7f3ff;
  cursor: pointer;
}

button:focus-visible {
  -webkit-box-shadow: 0 0 0 2px #666;
          box-shadow: 0 0 0 2px #666;
}

button:hover {
  background-color: #dbe7f2;
}

button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

button:disabled {
  pointer-events: none;
  opacity: 0.65;
}

p {
  color: #dbe7f2;
  font-size: 20px;
}

.container_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.button_type {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  border: none;
  border-radius: 6px;
  line-height: 40px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: lightgray;
  cursor: pointer;
}

.button_type:focus-visible {
  -webkit-box-shadow: 0 0 0 2px #666;
          box-shadow: 0 0 0 2px #666;
}

.button_type:hover {
  background-color: #dbe7f2;
}

.button_type:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.user_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.timer {
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #dbe7f2;
  color: #dbe7f2;
  font-size: 50px;
  border-radius: 6px;
}

.container_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}
/*# sourceMappingURL=index.css.map */